<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ダッシュボード</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

</head>

<body>

    <!-- ナビゲーション -->
    <nav>
        <h1>麻生使節団</h1>
        <a href="#" class="current_page">ダッシュボード</a>
        <a href="/config">スキャン設定</a>
        <a href="/log">スキャンログ</a>
        <a href="/guide">使い方</a>

    </nav>

    <div class="container">
        <header>
            <form id="bbot-form">
                <label for="target">ターゲットドメイン:</label>
                <input type="text" id="target" name="target" required>
                <label for="passive">パッシブスキャンを使用する:</label>
                <input type="checkbox" id="passive" name="passive" checked disabled>
                <button type="submit">実行</button>
            </form>
        </header>

        <!-- メインコンテンツ -->
        <main>


            <!-- スキャン実行中に表示されるインジケーター -->
            <div id="loading" class="loading" style="display: none;">
                <p>スキャン中... <span class="spinner"></span></p>
            </div>

            <!-- 結果がない場合やエラーの場合に表示されるメッセージ -->
            <div id="no-results" style="display:none; color: red;">
                <p>結果がありません。</p>
            </div>

            <!-- 結果のテーブル -->
            <table id="results-table" style="display:none;">
                <thead>
                    <tr>
                        <th>ホスト</th>
                        <th>IPアドレス</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 結果がここに動的に追加される -->
                </tbody>
            </table>
        </main>
    </div>

    <script src="../static/script.js"></script>
    <script src="../static/download.js"></script>


</body>

</html>