<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スキャン設定</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/scan_config_style.css">

    <!-- CodeMirrorのCSSとJavaScriptをCDNで読み込む -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/theme/blackboard.min.css">

</head>

<body>

    <!-- ナビゲーション -->
    <nav>
        <h1>麻生使節団</h1>
        <a href="/">スキャン</a>
        <a href="/config" class="current_page">スキャン設定</a>
        <a href="/log">スキャンログ</a>
        <a href="/guide">使い方</a>
    </nav>

    <div class="container">
        <header>
            スキャン設定を変更
        </header>

        <!-- メインコンテンツ -->
        <main>
            <form id="yaml-form">
                <div class="editor-container">
                    <textarea id="yaml-editor"></textarea>
                </div>
                <button type="submit">保存</button>
            </form>

            <div id="message"></div>
        </main>
    </div>

    <!-- JavaScriptファイルの読み込み -->
    <script src="../static/script/yaml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/yaml/yaml.min.js"></script>
</body>

</html>